<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="sys_docssettings_PageContainer" style="width:100%;height:100%;">
    <div id="sys_docssettings_ContentPaneHeader" style="width:100%;height:50px; margin:0;padding:0;">
    </div>
    <div id="sys_docssettings_ContentPaneLeft" style="width:130px;height:100%; margin:0;padding:0;">
        <table>
            <tr><th>Вид настроек</th></tr>
            <tr><td>
                <button id="sys_docssettings_Btn_viewCurrency">Валюты документов</button>
                <button id="sys_docssettings_Btn_viewDocstates">Статусы документов</button>
                <button id="sys_docssettings_Btn_viewOperstates">Статусы операций</button>
            </td></tr>
        </table>
    </div>
    <div id="sys_docssettings_ContentPaneDetailContainer" style="width:100%;height:auto; margin:0;padding:0;">
        <div id="sys_docssettings_htCurrency" style="width:100%;height:auto;margin:0;padding:0;"></div>
        <div id="sys_docssettings_htDocstates" style="width:100%;height:auto;margin:0;padding:0;"></div>
        <div id="sys_docssettings_htOperstates" style="width:100%;height:auto;margin:0;padding:0;"></div>
    </div>
    <div  id="sys_docssettings_RightContent" style="height:100%;width:200px; margin:0;padding:0;">
    </div>
</div>
</body>
<script type="text/javascript">
    require(["dijit/registry", "dijit/layout/BorderContainer", "dijit/layout/StackContainer", "dijit/layout/ContentPane",
                "dijit/form/TextBox", "dijit/form/DateTextBox", "dijit/form/Button", "htable"],
            function (registry, BorderContainer, StackContainer, ContentPane, TextBox,DateTextBox, Button, htable) {
                var sys_docssettings_PageContainer=initElem(registry, "sys_docssettings_PageContainer", "sys_docssettings_PageContainer", BorderContainer, {});
                initElem(registry, "sys_docssettings_ContentPaneHeader", "sys_docssettings_ContentPaneHeader", ContentPane, {region:'top'});
                initElem(registry, "sys_docssettings_ContentPaneLeft", "sys_docssettings_ContentPaneLeft", ContentPane, {region:'left', splitter:true});
                var sys_docssettings_Btn_viewCurrency=initElem(registry, "sys_docssettings_Btn_viewCurrency", "sys_docssettings_Btn_viewCurrency", Button, {style:"width:100px"});
                var sys_docssettings_Btn_viewDocstates=initElem(registry, "sys_docssettings_Btn_viewDocstates", "sys_docssettings_Btn_viewDocstates", Button, {style:"width:100px"});
                var sys_docssettings_Btn_viewOperstates=initElem(registry, "sys_docssettings_Btn_viewOperstates", "sys_docssettings_Btn_viewOperstates", Button, {style:"width:100px"});
                var sys_docssettings_ContentPaneDetailContainer=initElem(registry, "sys_docssettings_ContentPaneDetailContainer", "sys_docssettings_ContentPaneDetailContainer", StackContainer, {region:'center'});
                var sys_docssettings_htCurrency= initElem(registry, "sys_docssettings_htCurrency", "sys_docssettings_htCurrency",
                        htable, {readOnly:false,htaddRows:0,wordWrap:true});
                var sys_docssettings_htDocstates= initElem(registry, "sys_docssettings_htDocstates", "sys_docssettings_htDocstates",
                        htable, {readOnly:false,htaddRows:0,wordWrap:true});
                var sys_docssettings_htOperstates= initElem(registry, "sys_docssettings_htOperstates", "sys_docssettings_htOperstates",
                        htable, {readOnly:false,htaddRows:0,wordWrap:true});
                initElem(registry, "sys_docssettings_RightContent", "sys_docssettings_RightContent", ContentPane, {region:'right', splitter:true});

                sys_docssettings_Btn_viewCurrency.onClick= function(){
                    sys_docssettings_ContentPaneDetailContainer.selectChild("sys_docssettings_htCurrency",true);
                };
                sys_docssettings_Btn_viewDocstates.onClick= function(){
                    sys_docssettings_ContentPaneDetailContainer.selectChild("sys_docssettings_htDocstates",true);
                };
                sys_docssettings_Btn_viewOperstates.onClick= function(){
                    sys_docssettings_ContentPaneDetailContainer.selectChild("sys_docssettings_htOperstates",true);
                };
                sys_docssettings_htCurrency.onShow=function(){ sys_docssettings_htCurrency.setContent(); };
                sys_docssettings_htDocstates.onShow=function(){ sys_docssettings_htDocstates.setContent(); };
                sys_docssettings_htOperstates.onShow=function(){ sys_docssettings_htOperstates.setContent(); };
                sys_docssettings_htCurrency.setContent= function(){
                    this.setContentFromUrl({url:"/sys/documents_settings", condition:"action=get_currency"});
                };
                sys_docssettings_htDocstates.setContent= function(){
                    this.setContentFromUrl({url:"/sys/documents_settings", condition:"action=get_docstates"});
                };
                sys_docssettings_htOperstates.setContent= function(){
                    this.setContentFromUrl({url:"/sys/documents_settings", condition:"action=get_operstates"});
                };
                sys_docssettings_PageContainer.layout();
        });
</script>
</html>