<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div id="sysadmin_database_PageContainer" style="width:100%;height:100%;display:none;">
    <div id="sysadmin_database_ContentPaneTop" style="width:100%;height:30px; margin:0;padding:0;">
        <table>
            <tr>
                <td><button id="sysadmin_database_btnCurrentChanges"></button></td>
                <td><button id="sysadmin_database_btnChangeLog"></button></td>
            </tr>
        </table>
    </div>
    <div id="sysadmin_database_ContentPaneDetailContainer" style="width:100%;height:100%; margin:0;padding:0;"></div>
</div>
</body>
<script type="text/javascript">
    require(["app", "dojo/dom-style", "dijit/layout/BorderContainer", "dijit/layout/StackContainer", "dijit/layout/ContentPane",
                "dijit/form/Button", "dijit/form/ToggleButton", "templateDocumentSimpleTable", "dojox/widget/DialogSimple", "request"],
            function (APP, domStyle, BorderContainer, StackContainer, ContentPane, Button, ToggleButton, TDocumentSimpleTable, DialogSimple, Request) {
                var sysadmin_database_PageContainer =
                        APP.instanceForID("sysadmin_database_PageContainer", BorderContainer, {});
                var sysadmin_database_ContentPaneTop =
                        APP.instanceForID("sysadmin_database_ContentPaneTop", ContentPane, {region: 'top',splitter: false});
                var btnCurrentChanges= APP.instanceForID("sysadmin_database_btnCurrentChanges",
                        ToggleButton, {showLabel: true, checked: true, label: "Current changes", iconClass:'dijitCheckBoxIcon'});
                domStyle.set("sysadmin_database_btnCurrentChanges", "width", "150px");
                var btnChangeLog= APP.instanceForID("sysadmin_database_btnChangeLog",
                        ToggleButton, {showLabel: true, checked: false, label: "Change log", iconClass:'dijitCheckBoxIcon'});
                domStyle.set("sysadmin_database_btnChangeLog", "width", "150px");
                var sysadmin_database_ContentPaneDetailContainer =
                        APP.instanceForID("sysadmin_database_ContentPaneDetailContainer", StackContainer, {region: 'center'});
                sysadmin_database_PageContainer.domNode.style.display="";
                sysadmin_database_PageContainer.startup();

                var dialog = new DialogSimple({ style:"text-align:center", title:"FAIL", content: "No connection to the server!<br>", closable:true });
                var okButton = new Button({label:"OK"});
                okButton.onClick=function(){
                    dialog.onCancel();
                };
                dialog.addChild(okButton);
                dialog.startup();

                btnCurrentChanges.onClick = function () {
                    this.set("checked",true);
                    btnChangeLog.set("checked",false);
                    if (btnCurrentChanges.document) {
                        sysadmin_database_ContentPaneDetailContainer.selectChild(btnCurrentChanges.document);
                        return;
                    }
                    btnCurrentChanges.document =
                            APP.childFor(sysadmin_database_ContentPaneDetailContainer, "sysadmin_database_TableCurrentChanges",
                                    TDocumentSimpleTable, {titleText: "Data model current changes", dataURL: '/sysadmin/database/getCurrentChanges', buttonPrint: false})
                                    .addTotalCountNumberBox("ИТОГО строк:", 140, {style: "font-weight:bold;", inputStyle: "width:40px;"})
                                    .addContentTableRowAction("applyChangesRowData", function (tableContentRowData, params, contentTableInstance, startNextAction) {
                                        var changeID = tableContentRowData.changeID;
                                        var type = tableContentRowData.type;
                                        if (type == "new") {
                                            Request.postJSONData({url: "/sysadmin/database/applyChange", condition: null, data: {"CHANGE_ID": changeID}, consoleLog: true },
                                                    function (success, result) {
                                                        var typeValue = type, changeMsg = null;
                                                        if (success) {
                                                            var resultItem = result["resultItem"];
                                                            if (result.error) {
                                                                changeMsg = "NOT APPLIED! Reason: " + result.error;
                                                            }
                                                            if (resultItem) {
                                                                if(resultItem.ID == changeID) typeValue = "applied";
                                                                if(resultItem.CHANGE_MSG)
                                                                    changeMsg = (changeMsg == null) ? resultItem.CHANGE_MSG : changeMsg + " <br>Change message: " + resultItem.CHANGE_MSG;
                                                                else {
                                                                    var changeMsgUnknown= "Result unknown!";
                                                                    changeMsg = (changeMsg == null) ? changeMsgUnknown:changeMsg+" <br>Change message:"+changeMsgUnknown;
                                                                }
                                                            }
                                                            contentTableInstance.updateRowData(tableContentRowData, { message: changeMsg, type: typeValue });
                                                        } else {
                                                            dialog.show();
                                                        }
                                                        startNextAction();
                                                    });
                                        } //else contentTableInstance.updateRowData(tableContentRowData, {"message": "Impossible to apply! Type must be \"new\""});
                                    })
                                    .addPopupMenuItemForAction("applySelectedRowsChanges", "Apply selected changes...", "applyChangesRowData",
                                        null,/*end action*/function () {
                                            if (sysadmin_database_PageContainer.getParent().updateDBState)
                                                sysadmin_database_PageContainer.getParent().updateDBState({revalidate:true});
                                        })
                                    .addPopupMenuItemForAction("applyAllRowsChanges", "Apply all changes...", "applyChangesRowData",
                                    /*start action*/function (selRowsData, params, contentTable, startApplyChangesRowData) {
                                        startApplyChangesRowData(contentTable.getContent());
                                    },/*end action*/function () {
                                        if (sysadmin_database_PageContainer.getParent().updateDBState)
                                            sysadmin_database_PageContainer.getParent().updateDBState({revalidate:true});
                                    })
                                    .startUp();
                    sysadmin_database_ContentPaneDetailContainer.selectChild(btnCurrentChanges.document);
                };
                btnChangeLog.onClick = function () {
                    this.set("checked",true);
                    btnCurrentChanges.set("checked",false);
                    if (btnChangeLog.document) {
                        sysadmin_database_ContentPaneDetailContainer.selectChild(btnChangeLog.document);
                        return;
                    }
                    btnChangeLog.document =
                            APP.childFor(sysadmin_database_ContentPaneDetailContainer, "sysadmin_database_TableChangeLog",
                                    TDocumentSimpleTable, {titleText: "database change log",
                                        dataURL: '/sysadmin/database/getChangeLog', dataURLCondition:{"1~":1}, buttonPrint: false})
                                    .addTotalCountNumberBox("ИТОГО строк:", 140, {style: "font-weight:bold;", inputStyle: "width:40px;"})
                                    .startUp();
                    sysadmin_database_ContentPaneDetailContainer.selectChild(btnChangeLog.document);
                };
                btnCurrentChanges.onClick();
                sysadmin_database_PageContainer.layout();
            });
</script>
</html>